<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Supplier</title>
</head>
<body>
<h1>Create Supplier</h1>
<p>
    <a href="/suppliers">Supplier list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" th:action="@{/create-supplier}" th:object="${supplier}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create supplier"></td>
        </tr>
    </table>
</form>
</body>
</html>