<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Supplier</title>
</head>
<body>
<h1>Edit Supplier</h1>
<p>
    <a href="/suppliers">Supplier list</a>
</p>
<th:block th:if="${messages}">
    <p th:text="${messages}"></p>
</th:block>
<form method="post" th:action="@{/edit-supplier}" th:object="${supplier}">
    <input name="id" th:field="*{id}" th:type="hidden">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input th:field="*{description}" type="text"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input th:field="*{address}" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Supplier"></td>
        </tr>
    </table>
</form>
</body>
</html>