<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View product</title>
</head>
<body>
<h1>Product Detail</h1>
<p>
    <a href="/products">Product list</a>
</p>
<!--<th:block th:if="${message}">-->
<!--    <a th:href="toCart">Move To Cart</a>-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form method="post" th:action="@{/addtocart}" th:object="${product}">
    <input name="id" th:field="*{id}" th:type="hidden">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="*{description}"></td>
        </tr>
        <tr>
            <td>ImportDate</td>
            <td th:date="*{importDate}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img height="100px" th:src="*{image}" width="80px"/></td>
        </tr>
        <tr>
            <td>Supplier:</td>
            <td th:text="*{supplier.name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td th:text="*{quantity}"></td>
        </tr>
        <!--        <tr>-->
        <!--            <td></td>-->
        <!--            <td><input type="submit" value="Add To Cart">  </td>-->
        <!--        </tr>-->
    </table>
</form>
</body>
</html>